@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Italic.eot');
    src: local('Fira Sans Regular Italic'),
         url('ttf/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
