<!DOCTYPE html>
<html class=theme>
<head>
  <title>Admin</title>
  <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="background_wrap"></div>
<form id="login-form">
  <div>
    <label for="username">Username</label>
    <input name="username" id="username-input" />
    <label for="password">Password</label>
    <input name="password" id="password-input" type="password" />
  </div>
  <div>
    <button type="submit" onclick="return submitLogin()">Login</button>
  </div>
</form>
<form id="logout-form">
  <div>
    <button type="submit" onclick="return submitLogout()">Logout</button>
  </div>
</form>
<form id="post-form">
  <div>
    <textarea name="message" id="message-input"></textarea>
  </div>
  <div>
	<input type="file" accept="image/*" name="files"><br><br>
  </div>
  <div>
    <button type="submit" onclick="return submitPost()">Submit Post</button>
  </div>
</form>
<form id="config-form">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>

  <label for="cookiekey">Cookie Key:</label>
  <input type="password" id="cookiekey" name="cookiekey"><br><br>

  <button type="submit" onclick="return submitConfig()">Update Config</button>
</form>

<script>
  function submitConfig() {
      const form = document.getElementById('config-form');
      const data = new FormData(form);
	  
	  const xhr = new XMLHttpRequest();
	  xhr.onreadystatechange = function() {
		  if (xhr.readyState === XMLHttpRequest.DONE) {
			  if (xhr.status === 200) {
				  location.reload();
			  } else {
				  alert('Error: ' + xhr.status);
			  }
		  }
	  };
	  xhr.open('POST', '/api/admin/config');
	  xhr.send(data);
	  form.reset();
	  return false;
	  }
</script>

<script>
function submitPost() {
  const form = document.getElementById('post-form');
  const data = new FormData(form);

  const xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      if (xhr.status === 201) {
        alert(xhr.responseText);
      } else {
        alert('Error: ' + xhr.status);
      }
    }
  };
  xhr.open('POST', '/api/admin/create-post');
  xhr.send(data);
  form.reset();
  return false;
}
</script>
<script>
function submitLogout() {
  const xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      if (xhr.status === 200) {
        location.reload();
      } else {
        alert('Error: ' + xhr.status);
      }
    }
  };
  xhr.open('POST', '/api/logout');
  xhr.send();

  return false;
}
</script>
<script>
function submitLogin() {
  const form = document.getElementById('login-form');
  const usernameInput = document.getElementById('username-input');
  const passwordInput = document.getElementById('password-input');
  const username = usernameInput.value;
  const password = passwordInput.value;

  const xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      if (xhr.status === 200) {
        location.reload();
      } else {
        alert('Error: ' + xhr.status);
      }
    }
  };
  xhr.open('POST', '/api/login');
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.send('username=' + encodeURIComponent(username) + '&password=' + encodeURIComponent(password));

  return false;
}
</script>
<script>
fetch('/api/admin/status')
  .then(response => {
    if (response.status === 200) {
      document.getElementById('logout-form').style.display = 'flex';
      document.getElementById('post-form').style.display = 'flex';
      document.getElementById('config-form').style.display = 'flex';
    } else if (response.status === 401) {
      document.getElementById('login-form').style.display = 'flex';
    }
  })
  .catch(error => {
    console.error('Error fetching admin status:', error);
  });
</script>
</body>
</html>
