<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<form action="/api/create-post" method="POST">
			<div>
				<label for="post">What do you want to say?</label>
				<input name="Post" />
			</div>
			<div>
				<button>Submit Post</button>
			</div>
		</form>
	</body>
</html>

