<!DOCTYPE html>
<html>
	<head>
	  <title>Create Post</title>
	  <link rel="stylesheet" href="/static/styles.css">
	</head>
	<body>
		<form action="/api/admin/create-post" method="POST">
			<div>
				<label for="message">What do you want to say?</label>
				<input name="message" />
			</div>
			<div>
				<button>Submit Post</button>
			</div>
		</form>
	</body>
</html>

