{{define "post-block"}}
<div class="message_bubble">
	<div class="message_text link" onclick="location.href='/post/{{ .ID }}';">
		{{ .Message }}
	</div>
	{{if .FileName}}
		 <img class="image" src="/images/{{ .FileName}}">
	{{end}}
	<div class="message_date">
		{{ .Created }}
	</div>
</div>
{{end}}
