<!DOCTYPE html>
<html class="theme">
	<head>
		<title>意識の流れ</title>
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body class="posts_wrap">
		<div class="background_wrap"></div>
		<header class="header"></header>
		<main class="main">
			<div class="container">
				<section class="feed">
					{{ range .Posts }}
					  {{ template "post-block" . }}
					{{ end }}
				</section>
			</div>
		</main>
	</body>
</html>
