<!DOCTYPE html>
<html class="theme">
  <head>
	<title>Post</title>
	<link rel="stylesheet" href="/static/styles.css">
  </head>
  <body class="posts_wrap">
	<div class="background_wrap"></div>
	<header class="header"></header>
	<main class="main">
	  <div class="container">
		<section class="feed">
		  {{ .Post | template "post-block" . }}
		</section>
	  </div>
	</main>
  </body>
</html>
