<!DOCTYPE html>
<html class="theme">
  <head>
	<title>Post</title>
	<link rel="stylesheet" href="/static/styles.css">
  </head>
  <body class="single_post">
	<div class="background_wrap"></div>
	<div class="message_bubble">
	  <div class="message_text">
		{{ .Post.Message }}
	  </div>
	  <div class="message_date">
		{{ .Post.Created }}
	  </div>
	  <div class="image">
		<img src="/images/{{ .Post.FileName}}">
	  </div>
	</div>
  </body>
</html>
